.breadcrumb {
    background-color: white;
    padding: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.product-title {
    font-size: 24px;
    font-weight: bold;
}

.product-image {
    width: 100%;
    height: auto;
}

.thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.specifications-title {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
}

.specifications-content {
    font-size: 16px;
}

.details-table {
    width: 100%;
    margin-top: 20px;
}

.details-table th,
.details-table td {
    padding: 8px;
    text-align: left;
}

.details-table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.details-table td {
    background-color: #ffffff;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
}

.view-seller-btn {
    background-color: #6c757d;
    color: white;
    font-weight: bold;
}